@model LoginModel
@using Application.DTOs

<h2>Авторизация</h2>

<form method="post" action="@Url.Action("Login", "Account")">
    <div>
        @Html.LabelFor(model => model.Nickname)
        @Html.TextBoxFor(model => model.Nickname)
    </div>
    <div>
        @Html.LabelFor(model => model.Password)
        @Html.TextBoxFor(model => model.Password, new { type = "password" })
    </div>
    <button type="submit">Войти</button>
</form>
